body{
	font-family: sans-serif;
	background-color:#99ccff;
	}
.links{ 
	width:15%; 
	background-color: #ffff99;
	margin-right:200px
        }
.div{
      margin-left:15%;
      margin-right:15%;
      position:absolute;
      top:0%;
        }
