body{
	font-family: sans-serif;
	background-color:powderblue;
	}
.links{ 
	width:15%; 
	background-color: yellow;
        }
.div{
      margin-left:15%;
      margin-right:15%;
      position:absolute;
      top:0%;
        }
