body{
	font-family: sans-serif;
	background-color:#99ccff;
	}
.links { 
	width:12%; 
	/*padding:10px;*/
        }
.links a{
	display: block;
	background-color: #ffff99;
	padding:10px;
	border: 2px solid black;
	}
.links a:hover {
	background-color:  #ffffe6;
	}
.div{
      margin-left:17%;
      margin-right:15%;
      position:absolute;
      top:0%;
        }
